/* === BORDER === */

/* === OUTER BROWSER BORDER FIX === */
/* Force zero border-radius on all possible browser container elements */
:root,
#main-window,
#navigator-toolbox,
#titlebar,
#TabsToolbar,
.browserContainer,
#appcontent,
#browser,
.browserSidebarContainer,
#zen-tabbox-wrapper,
#zen-appcontent-wrapper,
body,
body > hbox,
#zen-main-app {
    border-radius: 0px;
    border-radius: 0;
}

/* Specifically target the outermost window elements */
window,
#main-window,
:root[sizemode="normal"],
:root[sizemode="maximized"] {
    border-radius: 0px !important;
    border-radius: 0 !important;
}

/* Ensure the main browser area has sharp corners */
#browser {
    border-radius: 0px !important;
    -moz-appearance: none !important;
    appearance: none !important;
    overflow: clip !important;
    padding: 0px !important;
}

body > hbox {
    border-radius: 0px !important;
    /* background: var(--na-color-bg) !important; */
}

/* ====== WINDOW BORDERS ====== */

:root[sizemode="fullscreen"] #browser::before {
    border: 0 !important;
    border-radius: 0px !important;
    outline: none !important;
    outline-offset: 0px !important;
}

:root[inDOMFullscreen="true"] #browser::before {
    border: 0 !important;
    border-radius: 0px !important;
    outline: none !important;
    outline-offset: 0px !important;
}

/* Ensure all browser elements have squared corners */
:root #browser,
:root body * {
    border-radius: 0;
}

:root[sizemode="normal"] #zen-browser-background {
    border-radius: var(--na-window-border-radius) !important;
}

/* window border on spit tabs */
/* :root:has(#tabbrowser-tabpanels [zen-split]) .deck-selected {
    border-radius: 0px !important;
    border: 2px solid var(--na-color-border) !important;
} */

:root:has(#tabbrowser-tabpanels [zen-split]) #tabbrowser-tabpanels > * {
    border-radius: 0 !important;
}

/* :root:has(#tabbrowser-tabpanels [zen-split]) .deck-selected {
    border-radius: var(--na-window-border-radius) !important;
} */

:root:has(#tabbrowser-tabpanels [zen-split]) .browserSidebarContainer {
    box-shadow: none !important;
}

:root:has(#tabbrowser-tabpanels [zen-split]) .browserSidebarContainer[is-zen-split="true"] {
    margin: 0 0 !important;
}

/* content window border radius */

:root:has([zen-compact-mode="true"]):has([zen-single-toolbar="true"]):not(
        [inDOMFullscreen="true"]
    )
    .browserSidebarContainer {
    border-radius: var(--na-window-border-radius) !important;
}

:root:not([sizemode="normal"]) .browserSidebarContainer {
    border-radius: 0 !important;
}

/* ====== WEBVIEW BORDER ====== */

/* fix for overflowing borders when webview border is off */

/* remove content window border on split tabs*/
/* :root:has(#tabbrowser-tabpanels [zen-split]) #zen-tabbox-wrapper {
    border: none !important;
} */

/* content window bottom margin on SINGLE-TOOLBAR mode */
/* @media (-moz-bool-pref: "zen.view.use-single-toolbar") {
  :root[zen-sidebar-expanded="true"]:not([zen-compact-mode="true"]):not([inDOMFullscreen="true"]) #zen-tabbox-wrapper {
    margin-bottom: var(--na-window-margin) !important;
  }
} */

/* @media (-moz-pref("zen.view.use-single-toolbar")) {
  @media not (-moz-bool-pref: "wireframe.urlbar.position.top"){
    :root[zen-sidebar-expanded="true"]:not([zen-compact-mode="true"]):not([inDOMFullscreen="true"]) #zen-tabbox-wrapper {
      margin-bottom: calc( var(--na-window-margin) - 10px ) !important;
    }
  }
} */

/* content window + address bar */
#zen-appcontent-wrapper {
    /* background-color: var(--na-color-bg) !important; */
    border-radius: 0px !important;
    /*! margin: 0px !important; */
    padding: 0px !important;
}

/* window */
#zen-tabbox-wrapper {
    padding: 0px !important;
    /*! background-color: var(--na-color-bg) !important; */
    padding: 0px !important;
}

/* WEBVIEW BORDER RADIUS */

#tabbrowser-tabbox,
#tabbrowser-tabbox > * {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    
    
}

:root[zen-right-side="true"]:not([zen-compact-mode="true"]):not(
        [inDOMFullscreen="true"]
    )
    #zen-tabbox-wrapper {
    border-radius: var(--na-user-border-radius) !important;
}

:root:not([zen-right-side="true"]):not([zen-compact-mode="true"]):not(
        [inDOMFullscreen="true"]
    )
    #zen-tabbox-wrapper {
    border-radius: var(--na-user-border-radius) !important;
}

/* ADD WEBVIEW BORDER RADIUS TO CHILDREN ELEMENTS OF TABBOX */
:root:not([zen-compact-mode="true"]) {
/*     @media not (-moz-pref("wireframe.nogaps.enabled")) { */
    #tabbrowser-tabpanels {
        border-radius: var(--na-user-border-radius) !important;
    }

    #tabbrowser-tabpanels > * {
        border-radius: inherit !important;
        transition: border-radius 0.18s linear !important;
    }
/*     } */
}

:root:has([zen-compact-mode="true"]):has([sizemode="normal"])
    :has(#zen-appcontent-navbar-wrapper[zen-has-hover="false"]) {
    #zen-tabbox-wrapper {
        border-radius: var(--na-window-border-radius) !important;
    }

    #tabbrowser-tabbox,
    #tabbrowser-tabbox > * {
        border-radius: var(--na-window-border-radius) !important;
    }
}

:root[inDOMFullscreen="true"] {
    #tabbrowser-tabpanels {
        border-radius: 0 !important;
    }
}

/* NO GAPS COMPACT MODE (DEFAULT) */

:root[zen-single-toolbar="true"][zen-compact-mode="true"]:not([customizing]) {
    /* Credits to CompTechGuy */
    #zen-appcontent-navbar-wrapper {
        min-height: 0.1px !important;
        height: 0.1px !important;
    }

    #zen-appcontent-navbar-wrapper[zen-has-hover="true"] {
        height: 34px !important;
    }

    --zen-element-separation: 0px !important;

    #zen-tabbox-wrapper,
    #tabbrowser-tabbox,
    #tabbrowser-tabbox > * {
        border-radius: var(--na-window-border-radius) !important;
    }
}

/* FIX : REMOVE NAVBAR CONTAINER WHEN EMPTY */
:root[zen-single-toolbar="true"][zen-compact-mode="true"]:not(
        [customizing]
    ):has(#PersonalToolbar[collapsed]) {
    @media (-moz-pref("zen.view.experimental-force-window-controls-left")) {
        #zen-appcontent-navbar-wrapper {
            height: 0.1px !important;
        }
    }
}

:root:not([zen-single-toolbar="true"])[zen-compact-mode="true"]:not(
        [customizing]
    ) {
    /* Credits to CompTechGuy */

    /* TODO: ADD HIDE PREF FOR MULTI TOOLBAR TOPBAR !!! */

    /*   #zen-appcontent-navbar-wrapper {
        min-height: 0.1px !important;
        height: 0.1px !important;
        transition: 0.18s ease !important;
    }

    #zen-appcontent-navbar-wrapper[zen-has-hover="true"] {
        height: 34px !important;
    } */

    --zen-element-separation: 0px !important;
}

:root:not([zen-single-toolbar="true"])[zen-compact-mode="true"][sizemode="normal"] #browser,
:root:not([zen-single-toolbar="true"])[zen-compact-mode="true"][sizemode="normal"] #main-window{
    overflow: hidden !important;
    clip-path: inset(0 round var(--na-window-border-radius));
}

/* fix for corner bleeding in single toolbar compact mode */
:root[zen-single-toolbar="true"][zen-compact-mode="true"][sizemode="normal"] #browser,
:root[zen-single-toolbar="true"][zen-compact-mode="true"][sizemode="normal"] #main-window {
    overflow: hidden !important;
    clip-path: inset(0 round var(--na-window-border-radius));
}

/* fix for rounded corners in maximised compact mode */
:root:not([sizemode="normal"])[zen-compact-mode="true"]:not([customizing]){
    #zen-tabbox-wrapper,
    #tabbrowser-tabbox,
    #tabbrowser-tabbox > * {
        border-radius: 0 !important;
    }
}

/* BORDER FOR MULTI TOOLBAR TOP BAR */
:root:not([zen-single-toolbar="true"])[zen-compact-mode="true"] {
}

/* macos style border for essentials */

/* macostyle border for tabs */

/* === Webview Border Radius Pref === */

/* === Window border radius pref === */

/* === NO GAPS === */
@media (-moz-pref("wireframe.nogaps.enabled")) {
  :root {
    --zen-element-separation: 0px !important;
  }

  :root:not([zen-compact-mode="true"]) #zen-tabbox-wrapper,
  :root:not([zen-compact-mode="true"]) #tabbrowser-tabbox,
  :root:not([zen-compact-mode="true"]) #tabbrowser-tabpanels,
  :root:not([zen-compact-mode="true"]) #tabbrowser-tabpanels > * {
    border-radius: 0 !important;
  }

  :root:not([zen-compact-mode="true"]) #zen-tabbox-wrapper {
    border: none !important;
  }

  :root:not([zen-compact-mode="true"]) #zen-tabbox-wrapper::before {
    box-shadow: none !important;
  }

/* ====== PREVIOUS/NEXT ANIMATION ====== */

/* Always animate back and forth */
browser {
}

/* Previous animation */
.browserStack:has(
    #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
) browser {
}

/* Next animation */
.browserStack:has(
    #historySwipeAnimationNextArrow:not([style="translate: none;"])
) browser {
}
