/* === PANEL/POPUP === */

panelview {
  border-radius: var(na-window-border-radius) !important;
  /*! border: 1.5px solid var(--na-color-border) !important; */
  background-color: var(--panel-background) !important;
  color: var(--zen-primary-text) !important;
}

panelview box{
  border-radius: 8px !important; 
}

/* hide extension panel header */
/* #unified-extensions-view box.panel-header,
#unified-extensions-description,
#unified-extensions-messages-container {
  display: none !important;
} */

